<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <h1>About</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem fugit porro iste quae reprehenderit
        saepe provident pariatur vel quidem, obcaecati quaerat ducimus perferendis eius, ipsa magni repudiandae harum
        dignissimos quas?</p>
</body>

</html>