<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <h1>Contact US</h1>
    <p>tel : +91 9011873457</p>
    <p>email : pb@gmail.com</p>
</body>

</html>