<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <h1>Services</h1>
    <br><br>
    <h4>Service 1</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, corrupti.</p>
    <br>
    <br>
    <h4>Service 2</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, corrupti.</p>
    <br>
    <br>
    <h4>Service 3</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, corrupti.</p>
    <br>
    <br>
    <h4>Service 4</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, corrupti.</p>

</body>

</html>